<div>
    <h1>Formulaire</h1>
    <input [(ngModel)]="nom" placeholder="Ajout un nom"/><br><br>
    <input [(ngModel)]="prenom" placeholder="Ajout un prenom"/><br><br>
    <button (click)="ajouter()">ajouter</button>

    <h1>Liste d'enregistrment</h1>
<!--
    <table>
        <thead>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr>
                <td>ligne1_colone1</td>
                <td>ligne1_colone2</td>
                <td>ligne1_colone3</td>
            </tr>
            <tr>
                <td>ligne2_colone1</td>
                <td>ligne2_colone2</td>
                <td>ligne2_colone3</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>       
        </tbody>
    </table>
    -->
</div>